From: <Saved by Blink>
Snapshot-Content-Location: https://3388726c-2dfc-4ea9-b557-e5eee43f4128-00-2ky0lyeo85juw.picard.replit.dev/
Subject: 
Date: Sun, 14 Jan 2024 02:13:01 +0200
MIME-Version: 1.0
Content-Type: multipart/related;
	type="text/html";
	boundary="----MultipartBoundary--jH5ISbtjXmz5lbZFaG4aLVQtgvd5qFVFKPD3XC6QCg----"


------MultipartBoundary--jH5ISbtjXmz5lbZFaG4aLVQtgvd5qFVFKPD3XC6QCg----
Content-Type: text/html
Content-ID: <frame-CB87AF8D85ED52C61916EA7E7CD558FD@mhtml.blink>
Content-Transfer-Encoding: binary
Content-Location: https://3388726c-2dfc-4ea9-b557-e5eee43f4128-00-2ky0lyeo85juw.picard.replit.dev/

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head><body>body {
    font-family: Arial, sans-serif;
}

#hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

#menu {
    padding: 40px 0;
}

#order {
    background-color: #e9ecef;
    padding: 40px 0;
}

#inventory {
    padding: 40px 0;
}

#contact {
    background-color: #f5f5f5;
    padding: 40px 0;
}</body></html>
------MultipartBoundary--jH5ISbtjXmz5lbZFaG4aLVQtgvd5qFVFKPD3XC6QCg------
